@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(ROBOTO-BOLD.TTF);
}

@font-face {
  font-family: Bondoluo-Peek;
  src: url(BondoluoPeek.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-Condensed;
  src: url(Roboto-Condensed.ttf);
}

@font-face {
  font-family: Roboto-CondensedItalic;
  src: url(Roboto-CondensedItalic.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(Roboto-Medium.ttf);
}
