
<head>
  <title>Bitjini</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
 <script src="bootstrap/js/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script> 
  <script src="js/script.js"></script>
<!--
 <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
   <script src="../bootstrap/js/jquery.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>-->


<style>
    body {scrolling:no;
    /*overflow: hidden;*/
}
iframe {position:absolute;
    z-index:1;
    top:0px;
    left:0px;
}

.rad > input:checked + i{ /* (RADIO CHECKED) <i> STYLE*/ 

  background: url('/blogs/assets/tick.png');
}

</style>

 <script type="text/javascript">
$(document).ready(function() {
$("#popup1").hide();
  
});

function showhide()
     {
           var div = document.getElementById("popup1");
    if (div.style.display !== "none") {
        div.style.display = "none";
    }
    else {
        div.style.display = "block";
    }
     }




  window.onresize = function(event) {
    if(event.currentTarget.outerWidth >767){
      console.info("showing");
      $("#call_us").show();
      $("#base").show();
      $("#base:before").show();
    }else{
      console.info("hiding");
      $("#call_us").hide();
      $("#base").hide();
      $("#base:before").hide();
    }

    /*if (event.currentTarget.outerWidth <767) {
      console.info("showing");
      $("").show();
    };*/
  }
  </script>
</head>


<nav class="navbar navbar-default navbar-fixed-top" style="background:transparent;">
      <!--<div class="row" style="background-color:#FFFFFF; height:25px;"><p style="margin-right:150px;text-align:right;font-family:sans-serif;font-size:14px;color:#67B2FD;">Call Us: +91-888-037-4442<p></div>  -->
      <div class="container-fluid">
            <!--   new contact -->
            
             <!-- new contact ends here -->

        <div class="navbar-header">



          
          <button type="button" class="navbar-toggle btn btn-circle" data-toggle="collapse" data-target="#myNavbar"></button>
          <a class="navbar-brand" href="http://bitjini.com/">
            <img src="/blogs/assets/bitjini_apps_more_logo.png" id="logo">
          </a>
        </div>
        
      </div>
    </nav>