<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <link href="http://gmpg.org/xfn/11" rel="profile">

    <!-- Meta tags -->
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.summary }}" />
    <meta name="keywords" content="{{ page.keywords }}" />

    <!-- Open graph -->
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:site_name" content="Changer.nl"/>
    <meta property="og:description" content="{{ page.summary }}" />
    <meta property="og:url" content="http://changer.nl/devlog{{ page.url }}" />
    <meta property="og:image" content="http://changer.nl/devlog/public/logo.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/app.css" type="text/css" />
<!--     <link rel="stylesheet" href="{{ site.baseurl }}public/css/nav.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/navbar.css" type="text/css" /> -->

    <link rel="stylesheet" href="{{ site.baseurl }}public/bootstrap/css/bootstrap.min.css">
  <script src="{{ site.baseurl }}public/bootstrap/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}public/bootstrap/js/bootstrap.min.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" href="/blogs/public/favico.ico" />

    <!-- Google Webmaster Tools & Analytics -->
    <meta name="google-site-verification" content="" />
</head>
