---
layout: default
---


<html>
<head>
<!-- 
<link rel="shortcut icon" href="/blogs/assets/logo.ico"/> -->
<link rel="shortcut icon" href="/blogs/public/favico.ico" />
</head>
<body>

<div class="post">
<br>
<h1 id="title" class="title" style="margin-top:-2%">{{ page.title }}</h1>

 

  <div class="post-container">                
   <!--      <div class="post-thumb"> -->
        <div align="middle">
          {% if page.image != %}
             <img id="img2" style="" src="/blogs/assets/{{ page.image }}" />
          {% endif %}
        </div>
        <!-- </div> 
        <div class="post-content"> -->
            <h3>{{ content }}</h3>
        <!-- </div>-->
  </div> 

  <div>
            {% if page.profile != %}
              <img style="width:10%;height:10%" src="/blogs/assets/{{ page.user_image }}"></img>
            {% endif %}
            <span class="right date">
            {{ page.date | date_to_string }} by <a href="http://github.com/{{page.author}}">@{{page.author}}</a>
            </span>
      </div>


</div>

<div class="clear"></div>
<br>

</body>
</html>